@import "./default";
.footer-signup {
	min-height: 50vh;
	border-top: 2px solid $very-light-grey;
	padding: 2rem 0;
	margin-top: 5rem;
}
.footer-sign-up-wrapper {
	max-width: 500px;

	.copy-right {
		p {
			color: black;
		}
	}
}

.flex {
	display: flex;
}

.find-store-btn {
	button {
		padding: 0.7rem 1.3rem;
		margin-right: 2rem;
		border-radius: 20px;
		border: 1px solid $green;
		color: $green;
		font-size: 1rem;
		@include text-bold;
		background: transparent;
	}
}

.footer-sign-up-links {
	li + li {
		margin-top: 0.5rem;
	}
	li {
		font-size: 0.9rem;
		cursor: pointer;
	}
}

@media screen and (min-width: 500px) {
	.flex {
		justify-content: center;
	}

	.footer-sign-up-wrapper {
		.copy-right {
			margin-left: 5rem;
			margin-top: 2rem;

			p {
				@include text-normalBold;
				font-size: 1rem;
			}
		}
	}

	.footer-sign-up-links {
		li + li {
			margin-top: 0.5rem;
		}
		li {
			font-size: 1rem;
			@include text-normalBold;
		}
	}

	.find-store-btn {
		button {
			margin-right: 3rem;
		}
	}
}
