@import "../reuseAbleStyles/default";

.rewards-container {
	input {
		display: block;
	}
	header {
		position: sticky;
		margin-bottom: 0;
	}

	.reward-sub-nav {
		background: $dark-green;
		padding: 1rem;
		color: $light-gray;
		font-weight: 600;
		padding-left: 6rem;
		font-size: 0.95rem;
	}

	.reward-main {
		min-height: 700px;
		background-color: $light-blue;
		background-image: url("/src/components/home/home-images/starbuck-small-star.webp");
		background-position: 55% 20%;
		background-repeat: no-repeat;
		background-size: auto 800px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.reward-main-content {
			line-height: 1.2;
			span {
				display: block;
				margin: 1rem 0;
				font-size: 1.2rem;
				@include text-normal;
			}

			h1 {
				font-size: 2.3rem;
			}

			button {
				padding: 0.5rem 1rem;
				border-radius: 100px;
				background: $green;
				border: none;
				@include text-semibold;
				font-size: 1rem;
				color: white;
				margin-top: 1rem;
			}
		}
	}
}
