@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
footer .footer-links-container {
  padding: 2rem 0;
  margin: 1rem auto;
  border-top: 1px solid #f2f0eb;
  border-bottom: 1px solid #f2f0eb;
  border-width: 3px;
}

footer .footer-links-container .drop-down {
  opacity: 1;
  color: #929191;
}

footer .footer-links-container .footer-links .title {
  display: flex;
  align-items: center;
}

footer .footer-links-container .footer-links .icon {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  transition: 0.5s ease-in-out;
}

footer .footer-links-container .footer-links .rotate {
  transition: 0.5s ease-in-out;
  transform: rotate(180deg);
}

footer .footer-links-container .footer-links h3 {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1px;
  z-index: 1000;
}

footer .footer-links-container .footer-links .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

footer .footer-links-container .footer-links .close-accodion {
  transform: translate3d(0, -25%, 0);
  transition: 0.2s ease-in-out;
}

footer .footer-links-container .footer-links .close-accodion ul,
footer .footer-links-container .footer-links .close-accodion li,
footer .footer-links-container .footer-links .close-accodion a {
  margin: 0;
  padding: 0;
  font-size: 0;
}

footer .footer-links-container .footer-links .open-accodion {
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
}

footer .footer-links-container .footer-links .open-accodion ul,
footer .footer-links-container .footer-links .open-accodion li,
footer .footer-links-container .footer-links .open-accodion a {
  font-size: inherit;
}

footer .footer-links-container .footer-links .open-accodion li {
  margin-top: 1.5rem;
}

footer .footer-links-container .footer-links .accodian {
  cursor: pointer;
}

footer .footer-links-container .footer-links .accodian + .accodian {
  margin: 1rem 0;
}

footer .social-media {
  display: flex;
}

footer .social-media .footer-icons {
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

footer .social-media .footer-icons + .footer-icons {
  margin-left: 1rem;
}

footer .social-media .fa-icon {
  font-size: 1.8rem;
}

footer .social-media .footer-icons:hover {
  background-color: #f2f0eb;
}

footer .privacy-and-terms {
  margin: 2rem 0;
}

footer .privacy-and-terms ul li + li {
  margin-top: 1.5rem;
}

footer .privacy-and-terms ul a:hover {
  text-decoration: underline;
}

footer .copy-right {
  margin: 1rem 0 2rem;
}

footer .copy-right p {
  color: rgba(0, 0, 0, 0.56);
}

@media screen and (min-width: 1040px) {
  footer .footer-links-container .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
  }
  footer .footer-links-container .footer-links h3 {
    font-size: 1.2rem;
  }
  footer .footer-links-container .footer-links > div {
    width: 100%;
  }
  footer .footer-links-container .footer-links div {
    margin: 0;
  }
  footer .footer-links-container .footer-links .footer-drop-down {
    width: 85%;
  }
  footer .footer-links-container .footer-links .footer-drop-down > :first-child {
    margin-top: 1.5rem;
    cursor: pointer;
  }
  footer .footer-links-container .footer-links .footer-drop-down li {
    margin-top: 1rem;
  }
  footer .footer-links-container .footer-links .footer-drop-down a {
    color: rgba(0, 0, 0, 0.56);
  }
  footer .footer-links-container .footer-links .footer-drop-down a:hover {
    color: black;
  }
  footer .privacy-and-terms ul {
    display: flex;
    align-items: flex-start;
  }
  footer .privacy-and-terms ul li + li {
    margin-top: 0;
    margin-left: 1rem;
  }
  footer .privacy-and-terms ul li {
    border-right: 2px solid rgba(0, 0, 0, 0.56);
    padding-right: 1.5rem;
  }
}

nav {
  padding: 1.5rem 0;
  box-shadow: 0px 20px 29px -9px rgba(229, 229, 229, 0.75);
  -webkit-box-shadow: 0px 20px 29px -9px rgba(229, 229, 229, 0.75);
  -moz-box-shadow: 0px 20px 29px -9px rgba(229, 229, 229, 0.75);
  margin-bottom: 0.1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .logo img {
  height: 50px;
  width: 70px;
}

.nav-container .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-container .nav-links .left-side-nav {
  margin-left: 2rem;
}

.nav-container .nav-links .left-side-nav ul {
  display: flex;
}

.nav-container .nav-links .left-side-nav ul li + li {
  margin-left: 1.5rem;
}

.nav-container .nav-links .left-side-nav ul a {
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-container .nav-links .left-side-nav ul a:hover {
  color: #008248;
}

.nav-container .nav-links .right-side-nav {
  display: flex;
  align-items: center;
}

.nav-container .nav-links .right-side-nav ul {
  display: flex;
}

.nav-container .nav-links .right-side-nav ul a {
  font-weight: 500;
}

.nav-container .nav-links .right-side-nav .signup ul {
  display: flex;
  align-items: center;
}

.nav-container .nav-links .right-side-nav .signup ul li + li {
  margin-left: 1.5rem;
}

.nav-container .nav-links .right-side-nav .signup ul li {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.3rem 1rem;
}

.nav-container .nav-links .right-side-nav .signup ul > :last-child {
  background: black;
}

.nav-container .nav-links .right-side-nav .signup ul > :last-child a {
  color: white;
}

.nav-container .nav-links .right-side-nav .location {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-container .nav-links .right-side-nav .location .location-marker {
  margin-right: 0.7rem;
  font-size: 1.3rem;
}

.nav-container .nav-links .right-side-nav .location a:hover {
  color: #008248;
}

@media screen and (max-width: 790px) {
  .nav-container .logo img {
    height: 35px;
    width: 50px;
  }
  .nav-container .nav-links {
    width: 80%;
    display: block;
    position: fixed;
    right: 0;
    top: 16%;
    height: 100vh;
    padding: 2rem 2rem;
    background-color: white;
    transform: translate(120%, -3%);
    transition: 0.5s ease-in;
  }
  .nav-container .nav-links .left-side-nav {
    border-bottom: 2px solid #f2f0eb;
    margin-left: 0;
  }
  .nav-container .nav-links .left-side-nav ul {
    display: block;
    padding: 1.5rem 0;
  }
  .nav-container .nav-links .left-side-nav ul li + li {
    margin: 0;
    margin-top: 1rem;
  }
  .nav-container .nav-links .left-side-nav ul a {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .nav-container .nav-links .right-side-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-container .nav-links .right-side-nav .location {
    order: 2;
  }
  .nav-container .nav-links .right-side-nav .signup {
    order: 1;
    margin: 1.5rem 0;
  }
  .nav-container .nav-links .right-side-nav .signup ul li + li {
    margin-left: 1rem;
  }
  .nav-container .show-nav {
    transform: translate(0, -3%);
    transition: 0.5s ease-in-out;
  }
}

footer .footer-links-container {
  padding: 2rem 0;
  margin: 1rem auto;
  border-top: 1px solid #f2f0eb;
  border-bottom: 1px solid #f2f0eb;
  border-width: 3px;
}

footer .footer-links-container .drop-down {
  opacity: 1;
  color: #929191;
}

footer .footer-links-container .footer-links .title {
  display: flex;
  align-items: center;
}

footer .footer-links-container .footer-links .icon {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  transition: 0.5s ease-in-out;
}

footer .footer-links-container .footer-links .rotate {
  transition: 0.5s ease-in-out;
  transform: rotate(180deg);
}

footer .footer-links-container .footer-links h3 {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1px;
  z-index: 1000;
}

footer .footer-links-container .footer-links .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

footer .footer-links-container .footer-links .close-accodion {
  transform: translate3d(0, -25%, 0);
  transition: 0.2s ease-in-out;
}

footer .footer-links-container .footer-links .close-accodion ul,
footer .footer-links-container .footer-links .close-accodion li,
footer .footer-links-container .footer-links .close-accodion a {
  margin: 0;
  padding: 0;
  font-size: 0;
}

footer .footer-links-container .footer-links .open-accodion {
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
}

footer .footer-links-container .footer-links .open-accodion ul,
footer .footer-links-container .footer-links .open-accodion li,
footer .footer-links-container .footer-links .open-accodion a {
  font-size: inherit;
}

footer .footer-links-container .footer-links .open-accodion li {
  margin-top: 1.5rem;
}

footer .footer-links-container .footer-links .accodian {
  cursor: pointer;
}

footer .footer-links-container .footer-links .accodian + .accodian {
  margin: 1rem 0;
}

footer .social-media {
  display: flex;
}

footer .social-media .footer-icons {
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

footer .social-media .footer-icons + .footer-icons {
  margin-left: 1rem;
}

footer .social-media .fa-icon {
  font-size: 1.8rem;
}

footer .social-media .footer-icons:hover {
  background-color: #f2f0eb;
}

footer .privacy-and-terms {
  margin: 2rem 0;
}

footer .privacy-and-terms ul li + li {
  margin-top: 1.5rem;
}

footer .privacy-and-terms ul a:hover {
  text-decoration: underline;
}

footer .copy-right {
  margin: 1rem 0 2rem;
}

footer .copy-right p {
  color: rgba(0, 0, 0, 0.56);
}

@media screen and (min-width: 1040px) {
  footer .footer-links-container .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
  }
  footer .footer-links-container .footer-links h3 {
    font-size: 1.2rem;
  }
  footer .footer-links-container .footer-links > div {
    width: 100%;
  }
  footer .footer-links-container .footer-links div {
    margin: 0;
  }
  footer .footer-links-container .footer-links .footer-drop-down {
    width: 85%;
  }
  footer .footer-links-container .footer-links .footer-drop-down > :first-child {
    margin-top: 1.5rem;
    cursor: pointer;
  }
  footer .footer-links-container .footer-links .footer-drop-down li {
    margin-top: 1rem;
  }
  footer .footer-links-container .footer-links .footer-drop-down a {
    color: rgba(0, 0, 0, 0.56);
  }
  footer .footer-links-container .footer-links .footer-drop-down a:hover {
    color: black;
  }
  footer .privacy-and-terms ul {
    display: flex;
    align-items: flex-start;
  }
  footer .privacy-and-terms ul li + li {
    margin-top: 0;
    margin-left: 1rem;
  }
  footer .privacy-and-terms ul li {
    border-right: 2px solid rgba(0, 0, 0, 0.56);
    padding-right: 1.5rem;
  }
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu .hamburger {
  background-color: black;
  height: 2px;
  width: 30px;
}

.hamburger-menu .hamburger + .hamburger {
  margin-top: 0.3rem;
}

@media screen and (min-width: 790px) {
  .hamburger-menu {
    display: none;
  }
}

.products-container button {
  cursor: pointer;
}

.products-container .drinks {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  text-align: center;
}

.products-container .drinks .product {
  font-size: 1.3rem;
}

.products-container .drinks .product h2 {
  font-size: 1.9rem;
}

.products-container .drinks .product p {
  font-weight: 400;
  color: #1e3932;
}

.products-container .drinks #product1 {
  background: #f1f8f6;
}

.products-container .drinks #product1 h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.products-container .drinks #product1 button {
  background: transparent;
  cursor: pointer;
}

.products-container .drinks .product2 h2,
.products-container .drinks .product3 h2 {
  letter-spacing: 4px;
}

.products-container .giftcard {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  text-align: center;
}

.products-container .giftcard h2 {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.products-container .giftcard p {
  font-weight: 400;
  color: #1e3932;
  font-size: 1rem;
}

.products-container .delivery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin: 2rem 0;
  text-align: center;
}

.products-container .delivery h2 {
  font-weight: 400;
}

.products-container .delivery .product {
  background-color: #d4e9e4;
}

.products-container .delivery .product p {
  width: 95%;
  font-size: 1rem;
}

.products-container .delivery button {
  background: transparent;
}

.product {
  background: #f2f0eb;
}

.product .products-details {
  width: 50%;
}

.product h2 {
  padding: 2rem 0 1rem;
}

.product p {
  padding: 0.5rem 0 1rem;
}

.product button {
  margin: 0.5rem 0 1rem;
  padding: 0.7em 2em;
  border-radius: 10rem;
  border: 1px solid #8d8d8d;
  outline: none;
  font-size: 0.9rem;
  font-weight: 600;
}

.terms-container .item {
  margin: 5rem auto;
  text-align: center;
}

@media screen and (min-width: 790px) {
  .products-container .product .product-details {
    width: 70%;
  }
  .products-container .drinks .product1,
  .products-container .drinks .product2,
  .products-container .drinks .product3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .products-container .drinks .product1 .product,
  .products-container .drinks .product2 .product,
  .products-container .drinks .product3 .product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .products-container .drinks .product1 .product-img,
  .products-container .drinks .product2 .product-img,
  .products-container .drinks .product3 .product-img {
    width: 100%;
  }
  .products-container .drinks .product1 .product,
  .products-container .drinks .product3 .product {
    order: 1;
  }
  .products-container .drinks .product1 .product-img,
  .products-container .drinks .product3 .product-img {
    order: 2;
  }
  .products-container .drinks .product2 .product {
    order: 2;
  }
  .products-container .drinks .product2 .product-img {
    order: 1;
  }
  .products-container .giftcard .product1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .products-container .giftcard .product1 .product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    order: 1;
  }
  .products-container .giftcard .product1 .product-img {
    width: 100%;
    order: 2;
  }
  .products-container .delivery .product-details {
    margin: auto;
  }
  .terms-container .item {
    width: 50%;
  }
}

@media screen and (min-width: 1040px) {
  .products-container .delivery {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    text-align: center;
  }
  .products-container .delivery #product5 .product-details button {
    margin-bottom: 1rem;
  }
  .products-container .drinks .product h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  .products-container .giftcard .product h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.menu-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2rem;
}

.menu-container {
  max-width: 1045px;
  margin: 0 auto;
  width: 85%;
}

.menu-wrapper header {
  position: sticky;
  top: 0;
  background: white;
}

.menu-header {
  position: relative;
}

.menu-header .menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 47px;
  background-color: #008248;
}

.menu-nav-sub-menu {
  background: #f2f0eb;
  font-size: 0.8rem;
  padding: 1rem;
}

.menu-nav-sub-menu .active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.56);
  padding-bottom: 3px;
}

.menu-nav-sub-menu .menu-link + .menu-link {
  margin-left: 2.5rem;
}

.menu-content-container .menu-heading h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.menu-content-container .product-title {
  border-bottom: 0.1rem solid #f2f0eb;
  margin: 2rem 0;
  padding-bottom: 0.5rem;
}

.menu-content-container .product-title h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-content-container .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-content-container .products figure {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-content-container .products figure img {
  border-radius: 100%;
  margin-right: 1rem;
  max-width: 112px;
}

.menu-content-container .products figure figcaption {
  font-size: 1.2rem;
  font-weight: 500;
}

.aside-container .aside + .aside {
  margin-top: 1rem;
}

.aside-container .aside li + li {
  margin-top: 1rem;
}

.aside-container .aside li {
  font-size: 1rem;
}

.aside-container .aside li a {
  color: rgba(0, 0, 0, 0.56);
}

.aside-container h4 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 766px) {
  .menu-container {
    width: 90%;
  }
  .menu-nav-sub-menu {
    display: none;
  }
  .menu-content-container .products {
    grid-template-columns: 1fr;
  }
  .menu-content-container .products figure img {
    border-radius: 100%;
    margin-right: 1rem;
    max-width: 70px;
  }
  .menu-content-container .products figure figcaption {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1020px) {
  aside {
    display: none;
  }
}

.rewards-container input {
  display: block;
}

.rewards-container header {
  position: sticky;
  margin-bottom: 0;
}

.rewards-container .reward-sub-nav {
  background: #1e3932;
  padding: 1rem;
  color: #f2f0eb;
  font-weight: 600;
  padding-left: 6rem;
  font-size: 0.95rem;
}

.rewards-container .reward-main {
  min-height: 700px;
  background-color: #d4e9e2;
  background-image: url("/src/components/home/home-images/starbuck-small-star.webp");
  background-position: 55% 20%;
  background-repeat: no-repeat;
  background-size: auto 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.rewards-container .reward-main .reward-main-content {
  line-height: 1.2;
}

.rewards-container .reward-main .reward-main-content span {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.rewards-container .reward-main .reward-main-content h1 {
  font-size: 2.3rem;
}

.rewards-container .reward-main .reward-main-content button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background: #008248;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}

@media screen and (min-width: 770px) {
  .rewards-container .getting-started-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rewards-container .getting-started-header h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }
  .rewards-container .getting-started-header p {
    font-weight: 400;
    font-size: 1rem;
  }
  .rewards-container .getting-started-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .rewards-container .getting-started-content .account-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 30%;
  }
  .rewards-container .getting-started-content .account-steps .header-1 {
    display: block;
  }
  .rewards-container .getting-started-content .account-steps .para1 {
    display: block;
  }
  .rewards-container .getting-started-content .account-steps .header-2 {
    display: none;
  }
  .rewards-container .getting-started-content .account-steps .para2 {
    display: none;
  }
  .rewards-container .getting-started-content .account-steps .first-step-content,
  .rewards-container .getting-started-content .account-steps .second-step-content,
  .rewards-container .getting-started-content .account-steps .third-step-content {
    margin: 0;
  }
  .rewards-container .getting-started-content .account-steps h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  .rewards-container .getting-started-content .account-steps p {
    width: 80%;
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
  }
  .rewards-container .getting-started-content .account-step-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rewards-container .getting-started-content .account-step-img img {
    max-width: 50px;
  }
  .rewards-container .starbuck-extras {
    margin-bottom: 5rem;
  }
  .rewards-container .starbuck-extras-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    text-align: center;
  }
  .rewards-container .starbuck-extras-heading h2 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  .rewards-container .starbuck-extras-heading p {
    width: 70%;
    margin: auto;
    font-size: 1rem;
  }
  .rewards-container .starbuck-extras-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .rewards-container .starbuck-extras .package-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .rewards-container .starbuck-extras .package-wrapper-img {
    max-width: 110px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content {
    width: 100%;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content h3 {
    margin: 1rem 0;
    font-size: 1.15rem;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content p {
    margin: 1rem 0;
    width: 85%;
    margin: auto;
    font-size: 1rem;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content button {
    border: none;
    background: transparent;
    color: #008248;
    text-decoration: underline;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 400;
  }
  .rewards-container .payment-method {
    background: #f3f1e7;
    padding: 2rem 0;
  }
  .rewards-container .payment-method .title {
    margin: 1rem 0 2rem 1rem;
  }
  .rewards-container .payment-method .title h3 {
    font-size: 1.2rem;
  }
  .rewards-container .payment-method .payment-method-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
  }
  .rewards-container .payment-method .payment-method-heading h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .rewards-container .payment-method .payment-method-heading p {
    width: 70%;
    margin: auto;
    font-size: 1rem;
  }
  .rewards-container .payment-method .payment-method-details .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rewards-container .payment-method figure {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .rewards-container .payment-method figure img {
    max-width: 100%;
    height: 150px;
  }
  .rewards-container .payment-method figure figcaption {
    margin-left: 1rem;
  }
  .rewards-container .payment-method figure figcaption h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .rewards-container .payment-method figure figcaption p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .rewards-container .getting-started-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rewards-container .getting-started-header h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }
  .rewards-container .getting-started-header p {
    font-weight: 400;
  }
  .rewards-container .getting-started-content .account-steps {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .rewards-container .getting-started-content .account-steps .header-1 {
    display: none;
  }
  .rewards-container .getting-started-content .account-steps .para1 {
    display: none;
  }
  .rewards-container .getting-started-content .account-steps .first-step-content,
  .rewards-container .getting-started-content .account-steps .second-step-content,
  .rewards-container .getting-started-content .account-steps .third-step-content {
    margin-left: 1.5rem;
  }
  .rewards-container .getting-started-content h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
  }
  .rewards-container .getting-started-content .account-step-img {
    width: 10%;
  }
  .rewards-container .getting-started-content .account-step-img img {
    max-width: 50px;
  }
  .rewards-container .starbuck-extras {
    margin-bottom: 5rem;
  }
  .rewards-container .starbuck-extras-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    text-align: center;
  }
  .rewards-container .starbuck-extras-heading h2 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  .rewards-container .starbuck-extras .package-wrapper {
    display: flex;
    margin-bottom: 2rem;
  }
  .rewards-container .starbuck-extras .package-wrapper-img {
    max-width: 110px;
    width: 30%;
    margin-right: 1rem;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content {
    width: 70%;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content h3 {
    margin-bottom: 0.5rem;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content p {
    margin: 1rem 0;
  }
  .rewards-container .starbuck-extras .package-wrapper .package-content button {
    border: none;
    background: transparent;
    color: #008248;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .rewards-container .payment-method {
    background: #f3f1e7;
    padding: 2rem 0;
  }
  .rewards-container .payment-method .title {
    margin: 1rem 0 2rem 1rem;
  }
  .rewards-container .payment-method .title h3 {
    font-size: 1.2rem;
  }
  .rewards-container .payment-method .payment-method-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
  }
  .rewards-container .payment-method .payment-method-heading h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .rewards-container .payment-method .payment-method-details .title {
    margin-top: 2rem;
  }
  .rewards-container .payment-method .payment-method-details .details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rewards-container .payment-method figure {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .rewards-container .payment-method figure img {
    max-width: 110px;
    width: 30%;
  }
  .rewards-container .payment-method figure figcaption {
    margin-left: 1rem;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-heading {
    margin: 2rem 0;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-heading h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    position: relative;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-input input {
    border: none;
    display: inline-block;
    padding-right: 10rem;
    width: 100%;
    outline: none;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-input button {
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code-input:focus-within {
    border-color: green;
  }
  .rewards-container .redeem-starbuck-code .starbuck-code,
  .rewards-container .redeem-starbuck-code .questions {
    margin-bottom: 5rem;
  }
  .rewards-container .redeem-starbuck-code .questions h2 {
    margin-bottom: 1rem;
  }
  .rewards-container .reward-terms-and-conditions {
    background-color: #f7f7f7;
    padding: 1rem 0;
    margin-bottom: 3rem;
  }
  .rewards-container .reward-terms-and-conditions .restrictions {
    margin: 1rem 0;
  }
  .rewards-container .reward-terms-and-conditions .earning-stars-terms,
  .rewards-container .reward-terms-and-conditions .terms-of-use,
  .rewards-container .reward-terms-and-conditions .benefits,
  .rewards-container .reward-terms-and-conditions .redeeming-rewards {
    margin-bottom: 2rem;
  }
  .rewards-container .reward-terms-and-conditions .earning-stars-terms h3,
  .rewards-container .reward-terms-and-conditions .terms-of-use h3,
  .rewards-container .reward-terms-and-conditions .benefits h3,
  .rewards-container .reward-terms-and-conditions .redeeming-rewards h3 {
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.56);
  }
  .rewards-container .reward-terms-and-conditions .earning-stars-terms p,
  .rewards-container .reward-terms-and-conditions .terms-of-use p,
  .rewards-container .reward-terms-and-conditions .benefits p,
  .rewards-container .reward-terms-and-conditions .redeeming-rewards p {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(0, 0, 0, 0.87);
  color: black;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  color: #1e3932;
  font-weight: 600;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */