$light-gray: #f2f0eb;
$soft-black: rgba(0, 0, 0, 0.56);

footer {
	.footer-container {
		padding: 2rem 0;
		margin: 1rem auto;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		border-width: 3px;

		div + div {
			margin-top: 2rem;
		}
		.drop-down {
			opacity: 1;
			color: rgb(146, 145, 145);
		}

		.footer-links {
			& > div {
				cursor: pointer;
			}

			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.footer-drop-down {
				> :first-child {
					margin-top: 2rem;
				}
				li {
					margin-top: 1.5rem;
				}
				a {
					color: $soft-black;
				}
				a:hover {
					color: black;
				}
			}
		}
	}
	.social-media {
		display: flex;

		.footer-icons {
			border-radius: 100%;
			padding: 5px;
			cursor: pointer;
		}

		.footer-icons + .footer-icons {
			margin-left: 1rem;
		}

		.fa-icon {
			font-size: 1.8rem;
		}
		.footer-icons:hover {
			background-color: $light-gray;
		}
	}

	.privacy-and-terms {
		margin: 2rem 0;

		ul {
			li + li {
				margin-top: 1.5rem;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

	.copy-right {
		margin: 1rem 0 2rem;
		p {
			color: $soft-black;
		}
	}
}
