@import "./footer";
@import "./default";
nav {
	padding: 1.5rem 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 10%);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 6%);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 7%);
}

.nav-container {
	@include centeredflex;

	.logo {
		img {
			height: 50px;
			width: 70px;
		}
	}
	.nav-links {
		@include centeredflex;
		width: 100%;

		.left-side-nav {
			margin-left: 2rem;
			ul {
				display: flex;

				li + li {
					margin-left: 1.5rem;
				}

				a {
					font-weight: 700;
					letter-spacing: 2px;
				}
			}
		}

		.right-side-nav {
			display: flex;
			align-items: center;

			ul {
				display: flex;
				a {
					font-weight: 500;
				}
			}

			.signup {
				ul {
					display: flex;
					align-items: center;
					li + li {
						margin-left: 1.5rem;
					}

					li {
						border: 1px solid black;
						border-radius: 100px;
						padding: 0.3rem 1rem;
					}
					& > :last-child {
						background: black;
						a {
							color: white;
						}
					}
				}
			}
			.location {
				display: flex;
				align-items: center;
				margin-right: 2rem;

				.location-marker {
					margin-right: 0.7rem;
				}
			}
		}
	}
}
