@import "../componentStyles/default";

.featured-container {
	header {
		position: sticky;
		background: white;
		z-index: 1;
		top: 0;
	}

	main {
		h2 {
			font-size: 1rem;
			@include text-bold;
			color: $soft-black;
			margin: 1rem 0;
		}
	}
}

.card-list-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
	row-gap: 2rem;

	img {
		border-radius: 5px;
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 760px) {
	.featured-container {
		main {
			figure {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
