@import "../componentStyles/default";

.menu-main-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 2rem;
}
.menu-container {
	max-width: 1045px;
	margin: 0 auto;
	width: 85%;
}
.menu-wrapper {
	header {
		position: sticky;
		top: 0;
		background: white;
	}
}
.menu-header {
	position: relative;

	.menu::before {
		content: "";
		position: absolute;
		bottom: 0;
		height: 5px;
		width: 47px;
		background-color: $green;
	}
}
.menu-nav-sub-menu {
	background: $light-gray;
	font-size: 0.8rem;
	padding: 1rem;

	.active {
		border-bottom: 1px solid $soft-black;
		padding-bottom: 3px;
	}

	.menu-link + .menu-link {
		margin-left: 2.5rem;
	}
}

.menu-content-container {
	.menu-heading {
		h1 {
			font-size: 1.8rem;
			font-weight: 700;
		}
	}
	.product-title {
		border-bottom: 0.1rem solid $light-gray;
		margin: 2rem 0;
		padding-bottom: 0.5rem;

		h3 {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
	.products {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		figure {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			img {
				border-radius: 100%;
				margin-right: 1rem;
				max-width: 112px;
			}

			figcaption {
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}
}

.aside-container {
	.aside + .aside {
		margin-top: 1rem;
	}

	.aside {
		li + li {
			margin-top: 1rem;
		}
		li {
			font-size: 1rem;
			color: $soft-black;
		}
	}
	h4 {
		font-size: 1.1rem;
		margin-bottom: 1.5rem;
	}
}
@media screen and (max-width: 766px) {
	.menu-container {
		width: 90%;
	}
	.menu-nav-sub-menu {
		display: none;
	}
	.menu-content-container {
		.products {
			grid-template-columns: 1fr;
			figure {
				img {
					border-radius: 100%;
					margin-right: 1rem;
					max-width: 70px;
				}

				figcaption {
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1020px) {
	aside {
		display: none;
	}
}
